body {
    background-image: url(../images/background2.jpg)
}
#navbar {
    background-color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.h2{
    margin:0;
}
.spacer{
    height: 60px;
}
.form-group{
    padding: 10px;
}
.mar-bot{
    margin-bottom: 10px;
}
