body {
    background-image: url(../images/background2.jpg)
}
.navbar-brand {
    background-color: #85bb65;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px;
    margin: auto;
}
.nav-link {
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}